
#wrap{
    width:100%;
    height:600px;
    background:#F9F9F9;
    position:relative;
}
.content{
    width:958px;
    margin:50px auto;
    border:1px solid #FF9D9D;
    position: absolute;
    top:0;
    left:250px;
    display:none;
}
.first-con{
    display:block;
}
.step0 {
    margin: 20px auto;
    width: 655px;
    height: 30px;
}
.step1{
    background: url(../image/register_step.png) no-repeat ;
}
.step2{
    background: url(../image/register_step.png) no-repeat  0 -75px; ;
}
.step3{
    background: url(../image/register_step.png) no-repeat  0 -150px; ;
}
.register-box {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.content label {
    display: inline-block;
    width: 66px;
    text-align: left;
    cursor: default;
}
.reg-0 {
    height: 30px;
    width: 255px;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    text-indent: 5px;
    overflow: hidden;
    background: #F9F9F9;
}
.register-box em {
    top: 8px;
    text-align: left;
    width: 150px;
    height: 20px;
    line-height: 13px;
    font-style: normal;
    color:red;
    display: inline-block;
}
.reg {
    height: 30px;
    width: 100px;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    text-indent: 5px;
    overflow: hidden;
    background: #F9F9F9;
    vertical-align: middle;
    margin-right: 5px;
    /*text-align: center;*/
}
.register-box  .reg-2{
    width:255px;
}
.code {
    display: inline-block;
    height: 32px;
    width: 90px;
    vertical-align: middle;
    background: #e8d7d1;
    color:#f60;
    font-size:20px;
    backgrond-color:#efefef;
}

.code_btn_0 {
    width: 250px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: #f60;
    margin-left: 310px;
}
.active{
    margin-left:55px ;
}
.reg2-sure{
    width:250px;
}
.hrefA:hover{
    text-decoration:underline;
}
.step-last a{
    color: #FF9D9D;
    float:right;
}
.check{
    margin-left: 380px;;
    margin-bottom:10px;
}
.check a{
    color:red;
}
